.headers{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;   
    padding-bottom: 10px;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(205, 204, 204);
    z-index: 100;

}

.left-section{
    display: flex;
    width:200px;
    align-items: center;    
    margin-left: 25px;

}

.menu{
    height: 25px;
    cursor: pointer;
}

.yt{
    margin-left: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 30px;
}

.middle-section{
    display: flex;
    max-width: 500px;
    flex: 1;
    align-items: center;
}

.search_box{
    font-family: Roboto;
    height: 40px;
    flex: 1;
    font-size: 16px;
    border-style: solid ;
    border-width: 0px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: inset;
    border-width: 1px;
    border-color: rgb(188, 187, 187);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 0;
}

.search_button{
    height: 44px;
    width: 80px;
    cursor: pointer;
    margin-left: -1px;
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
}
.searchb{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-top: 4px;

}

.search_box::placeholder {
    font-family: Roboto,Arial;
    padding-left: 10px;
}

.audiob{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border-style: solid;
    margin-left: 15px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-color: rgb(192, 192, 192);


}


.audio{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;
}



.right-section{
    display: flex;
    max-width: 500px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload{
    height: 30px;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.apps{
    height: 30px;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.notifications{
    height: 30px;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    position: relative;
}
.notif{
    position: absolute;
    right: 92px;
    color: white;
    background-color: rgb(197, 4, 4);
    bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    border-radius: 15px;
    align-items: center;

}

.profile_photo{
    height: 30px;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}